{% extends "base.html" %}
{% block extracss %}

{% endblock extracss %}


{% block maincontent %}
<hr>
<div class="row">
</div>
<div class="row">
    <div class="col-md-6">
        <div class="row bs-example">
            <form action="{% url 'cashfree_checkout' %}" method="post" name="cashfreeForm">
                {% csrf_token %}
            <table>
                <tr>
                    <td><b>Mandatory Parameters</b></td>
                </tr>
                <tr>
                    <td>Order Amount: </td>
                    <td><input name="amount" value="{{ posted.amount|default:'' }}" /></td>
                </tr>
                <tr>
                    <td>Order_id: </td>
                    <td><input name="order_id" value="{{ posted.order_id|default:'' }}" /></td>
                    <td>Customer Name: </td>
                    <td><input name="name" id="name" value="{{ posted.name|default:'' }}" /></td>
                </tr>
                <tr>
                    <td>Customer Email: </td>
                    <td><input name="email" id="email" value="{{ posted.email|default:'' }}" /></td>
                    <td>Customer Phone: </td>
                    <td><input name="phone" value="{{ posted.phone|default:'' }}" /></td>
                </tr>
                <tr>
                    <td>Product Info: </td>
                    <td colspan="3"><textarea name="note">{{ posted.note|default:'' }}</textarea></td>
                </tr>

                <td colspan="4">
                    <input style="
                    margin-top: 12px;
                    margin-left: 36%;" type="submit" class="btn btn-primary btn-lg" value="SUBMIT">
                </td>
                </tr>
            </table>
            </form>
        </div>
    </div>
</div>
{% endblock maincontent %}



{% block extrajs %}

{% endblock extrajs %}
